.inputOutter {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}

.inputOutterUpperSpace {
    height: 233px;
    margin-top: 89px;
}

.outterLeftIcon {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.LeftIconDiv {
    margin: auto;
}

.Icon {
    color: #9AA0A6;
    height: 20px;
    width: 20px;
    margin-top: 3px;
}